.nav-bar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
   
}
.left-side {
    /* border: 1px solid red; */
    border-radius: 5px;
    
}
.container{
    /* border: 1px solid red; */
}
.right-container{
    /* border: 2px solid red; */
}
.right-container img{
    /* border: 1px solid red; */
    width: 400px;
    height: 500px;
}
.container{
    display: flex;
    /* border: 2px solid red; */

}
.left-container img{
    width: 800px;
    height: 200px;
    display: flex;
}
.left-container{
    display: flex;
    margin-top: 10px;
    left: 10px;
}